#mailConfig dt{
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: -3px 3px 5px #c0c0c0;
	padding: 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 150px;
	margin-bottom: 5px;
	z-index: 10;
	line-height: 20px;
}

#mailConfig dd{
	border: 1px solid #ccc;
	box-shadow: -3px 3px 5px #c0c0c0;
	padding: 3px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 500px;
	z-index: 5;
	line-height: 20px;
	margin-bottom: 5px;
	margin-left: 158px;
    margin-top: -33px;
}

#mailList, #mailInfo{
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px #c0c0c0;
	padding: 5px;
	margin: 10px;
	height: 200px;
	overflow: auto;
}

#mailList img, #mailInfo img{
	vertical-align: middle;
}

#mailList .mail, #mailInfo .mail{
	text-align: left;
	padding: 5px;
	margin: 5px;
	border-top: 1px dashed #ccc;
	cursor: pointer;
	border-radius: 3px;
}

#mailInfo .mail{
	border-top-width: 0;
	border-bottom: 1px solid #ccc;
}

#mailInfo .mailAttachment{
	border-top-width: 0;
	padding-bottom: 5px;
}

#mailInfo .mailBody{
	padding: 15px;
	margin: 15px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-image: linear-gradient(bottom, rgb(250,250,250) 0%, rgb(237,237,237) 56%);
	background-image: -o-linear-gradient(bottom, rgb(250,250,250) 0%, rgb(237,237,237) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 0%, rgb(237,237,237) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 0%, rgb(237,237,237) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 0%, rgb(237,237,237) 56%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(250,250,250)),
		color-stop(0.56, rgb(237,237,237))
		);
}



#mailList .mail:hover{
	background-image: linear-gradient(bottom, rgb(238,235,255) 42%, rgb(209,211,255) 71%);
	background-image: -o-linear-gradient(bottom, rgb(238,235,255) 42%, rgb(209,211,255) 71%);
	background-image: -moz-linear-gradient(bottom, rgb(238,235,255) 42%, rgb(209,211,255) 71%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,235,255) 42%, rgb(209,211,255) 71%);
	background-image: -ms-linear-gradient(bottom, rgb(238,235,255) 42%, rgb(209,211,255) 71%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.42, rgb(238,235,255)),
		color-stop(0.71, rgb(209,211,255))
		);
}

#mailList .mail.selected{
	background-image: linear-gradient(bottom, rgb(255,250,237) 42%, rgb(255,233,209) 71%);
	background-image: -o-linear-gradient(bottom, rgb(255,250,237) 42%, rgb(255,233,209) 71%);
	background-image: -moz-linear-gradient(bottom, rgb(255,250,237) 42%, rgb(255,233,209) 71%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,250,237) 42%, rgb(255,233,209) 71%);
	background-image: -ms-linear-gradient(bottom, rgb(255,250,237) 42%, rgb(255,233,209) 71%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.42, rgb(255,250,237)),
		color-stop(0.71, rgb(255,233,209))
		);
}