/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 17:03:28
    Author     : yjin
*/

.delegateToUser{
    margin-bottom: 5px;
    width: auto;
}

.delegation_active, .delegation_fullend{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.delegLists ul{
    width: 90%;
    margin-right: 20px;
    height: 100px;
    overflow: auto;
}