/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24 mars 2016, 09:46:07
    Author     : yjin
*/

.fieldsetView,.fieldsetEdit  {
    border: 1px solid $border-gray;
    border-radius: $border-radius-normal;
    margin: 5px;

    dl {
        margin: 5px;
        padding: 5px;
    }

    dt {
        font-weight: 700;
        color: $black;
        /*border-bottom-style: inset;*/
        border-bottom: 1px solid #e0e0e0;
    }
    dd {
        margin: 10px 0;
        min-height: 18px;
        color: $black;
        vertical-align:middle;

        img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
    }

}

.msgChange{
    font-style: italic;
    font-size: 12px;
    line-height: 1;

    img{
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}
#createFlux{
    .contactInfoCard,.organismeInfoCard{
        display: none;
        padding: 0 25px;
        border: 1px solid $border-gray;
        border-radius: $border-radius-normal;
        margin: 15px 0 0 -100%;
        width:200%;

        dd,dt{
            font-size: 11px;
        }
        td{
            padding-right:10px;
            font-size: 11px;
        }
    }

    #commentaires{
        margin-top: 0px;
    }
}

.contactInfoCard,.organismeInfoCard{
    display: none;
    padding: 0 25px;
    border: 1px solid $border-gray;
    border-radius: $border-radius-normal;
    margin: 15px 0 0 -125%;
    width:250%;

    dd,dt{
        font-size: 11px;
        color: black!important;
    }
    dt {
        margin-top: 10px;
    }
    td{
        padding-right:10px;
        font-size: 11px;
    }
}

#delai div.input {
    display: inline;

    &.select select, &.text input {
        width: 160px;
        vertical-align: top;
        min-width: 40px;
    }
}

.unitecreate{
    height: 40px;
    width: 46%;
    float: right;
    position: relative;
    top: -50px;
}

.uniteset{
    height:40px;
    width:70px;
    float: right;
    margin:-50px 18% auto auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}



#controls{
    @extend #panel-footer-diy;
}

#flux_context_add{
    margin-bottom: 50px;

    ul li{
        /*width: 40px;*/
        width: 100%;

        a{
            min-width: 40px;
        }
    }

    .tab-content.row{
        margin-left: 65px;
        min-height: 300px;
    }
}

#setTacheRow{
    /*margin: -35px;*/
    /*margin-top: -20px;*/
    margin-left: 0px;
}

#setCommentsContents{
    margin : -15px;
    padding:0px;
    padding-bottom:20px;

    .panel-body{
        margin: 0px;
        padding:0px;
    }

}

#tacheFooter,#commentFooter{
    text-align:right;
}

.infos{
    #flux_infos{
        /*width: 61%;*/
        /*float: left;*/
        margin-top: 1%;
        margin-left: 1%;
        border: 1px solid transparent;
        /*border-radius: $border-radius-normal;*/
        /*box-shadow: 0 1px 1px $border-gray;*/

        .panel{
            margin:5px;
        }

        #comments{
            margin-top: 10px;
        }

        .tab-content{
            margin-left:176px;
            min-height: 300px;
            margin-bottom: 40px;

            .zone{

                legend{
                    font-size: 16px;
                }

                .fieldsetView{
                    padding: 0px;
                    border:none;
                    overflow: auto;

                    table{
                        th{
                            text-align:center;
                        }
                        tbody{
                            font-size: 12px;
                        }
                    }
                }
            }

            #autoSaveInfo{
                text-align: right;
                margin-top: 10px;
            }

            .alert.alert-info{
                margin-bottom: 0px;
            }
        }

        .tab-content.tab-pane-affaire{
            margin-left: 0px;
            min-height: 0px;
            margin-bottom: 40px;

        }

        .th-inner{
            text-align:center;
        }

    }

    #controls{
        /*margin-left: -2%;*/
        /*margin-left: -1.5%;*/
        /*margin-right: -2%;*/
        /*width: 104%;*/
        width: 102%;
        text-align: left;

        .btn-group{
            float: none;
        }
    }
}

#flux_context {
    margin-top: 1%;
    margin-left: -1px;
    border: 1px solid transparent;
    border-radius: $border-radius-normal;
    box-shadow: 0 1px 1px $border-gray;
    /*width: 38%;*/
    float: right;
    margin-right: 0px;
    /*max-height: 1000px;*/
    overflow: auto;
    padding-right:20px;
  	left: 50%;
  	position: fixed;

    .panel{
        margin: 10px -7px 10px -15px;
        width: 100%;
    }
    ul li{
        width: 40px;

        a{
            min-width: 40px;
        }
    }
}

#createFlux #flux_infos {
    margin-left: 0;
    width: auto;
    float: none;

    #infos,#medas,#taches,#commentaires,#affaire{
        margin-top: -13px;
    }
    .row.bs-wizard{
        border-bottom: 0px;
    }
}



.editFluxButton {
    color: $white;
    background-color: $btn-info-bg-normal;
    border-color: $btn-info-border-normal;

    &:hover {
        color: $white;
        background-color: $btn-info-hover-bg-active;
        border-color: $btn-info-hover-border;
    }
}

.parentInfo{
    display: none;
    position: absolute;
    border: 1px solid $black;
    box-shadow: 0 0 5px $border-gray;
    border-radius: $border-radius-normal;
    margin: 5px;
    padding: 5px;
    background-color: $white;
    width: 75%;

    table{
        caption{
            color:$blue-webgfc;
            font-size: 12px;
            background: $white;

        }
        tr{
            font-size:11px !important;
            th{
                border: solid 1px #CCCCCC;
            }
        }

    }
}

#heure {
    width: 8%;
    background-color: red;
}

.popover-content {
    width: 150px;
}
