/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 avr. 2016, 10:04:30
    Author     : yjin
*/
.document_preview {
    video{
        max-width: 300px;
    }

    h4{
        overflow: hidden;
    }
}
#flux_context ul li.ctxdoc{
    width: 100%;
    overflow: hidden;
}
.ctxdoc_name{
    color: #000;
    font-weight: bold;
}
.ctxdoc .mainDoc{
    overflow: hidden;
}
.ctxdoc{
    dl{
        padding-bottom: 20px;
        border-bottom: dashed 1px #000;
    }
    dt {
        font-weight: 700;
        color: $blue-webgfc;
        border-bottom-style: inset;
    }
    dd {
        margin-left: 10px;
        min-height: 18px;
        color: $black;

        img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
    }
}
#fluxRefus{
    legend {
        margin-top: 5px;
        color: $blue-webgfc;
        font-size: 14px;
    }
}

#relements{
    .relement_doc_list{
        input[type="checkbox"] {
            background-color: #fff;
            border: 4px none;
            border-radius: 4px;
            box-shadow: none;
            height: 15px;
            margin-left: -15px;
            margin-top: 11px;
            position: absolute;
        }

        div[class="ctxdoc"] {
            margin-left: 6px;
        }
    }
    .rmodel_list {
        input[type="radio"] {
            background-color: #fff;
            border: 4px none;
            border-radius: 4px;
            box-shadow: none;
            height: 15px;
            margin-left: 0px;
            margin-top: 11px;
            position: absolute;
        }
        div[class="ctxdoc"] {
            margin-left: 20px;
        }
    }
}

