/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24 mars 2016, 10:54:44
    Author     : yjin
*/
.tabs-left > .nav-tabs {
    > li {
        > a {
            /*min-width: 74px;*/
            margin-right: 0;
            /*margin-bottom: 3px;*/
            margin-right: -1px;
            -webkit-border-radius: $border-radius-normal 0 0 $border-radius-normal;
            -moz-border-radius: $border-radius-normal 0 0 $border-radius-normal;
            border-radius: $border-radius-normal 0 0 $border-radius-normal;

            &:hover, &:focus {
                border-color: $border-gray-light $border-gray $border-gray-light $border-gray-light;
            }
        }

        float: none;
    }

    float: left;
    margin-right: 19px;
    border-right: 1px solid $border-gray;

    .active > a {
        border-color: $border-gray transparent $border-gray $border-gray;
        *border-right-color: $white;

        &:hover, &:focus {
            border-color: $border-gray transparent $border-gray $border-gray;
            *border-right-color: $white;
        }
    }
}
/*td.action a img{
    width: 20px;
    height: 20px;
}*/

#rightButton{
    cursor:pointer;
    color: #5393a7;
    opacity:0.8;
    width:6%;
    position: fixed;
    top: 55px;
    left: 95%;
    z-index: 99 !important;
    &:hover{
        color:#5393a7;
        opacity:1;
    }
}
#leftButton{
    cursor:pointer;
    color: #5393a7;
    opacity:0.8;
    width:0.2%;
    position: fixed;
    top: 55px;
    left:1%;
    z-index: 99 !important;
    &:hover{
        color:#5393a7;
        opacity:1;
    }
}
