/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 17:40:35
    Author     : yjin
*/

.espace_travail {
    > ul {
        background: $blue-webgfc;
        font-weight: bold;
        margin: 0px;
        border-radius: $border-radius-normal $border-radius-normal 0 12px;
        text-align: left;
        font-size: 16px;
        padding-left: 12px;
        margin: 0;
    }

    ul a {
        color: $white;

        &:hover {
            color: $text-color;
        }
    }

    .tab-content {
        .tab-pane {
            padding-bottom: 30px;
        }

        .bannetteVoid {
            color: $blue-webgfc;
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
        }
    }

    background: $white;
    -moz-border-radius: $border-radius-normal;
    -webkit-border-radius: $border-radius-normal;
    border-radius: $border-radius-normal;
    box-shadow: 0 0 8px 0 $border-gray;
    margin-bottom: 10px;
    min-width: 250px;
    min-height: 140px;
    padding: 0px;
    width: 100%;
}
#repertoires_skel_liste, #repertoires_skel_dyn {
    margin-top: 20px;

    .panel-body {
        min-height: 150px;
    }

    .panel-footer {
        text-align: right;
        padding: 10px;
    }
}

#recherche_skel_infos {
    margin-top: 20px;
}

#repertoires_skel_infos {
    .panel-body {
        min-height: 150px;
    }

    .panel-footer {
        text-align: right;
        padding: 10px;
    }
}
#addRepertoireModal .panel-footer,
#editRepertoireModal .panel-footer{
    text-align: right;
    padding: 5px;
}