/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 16:04:00
    Author     : yjin
*/
#formule-recherche-controls{
    @extend #panel-footer-diy;
    margin-top: 0px;
}
.formule-recherche {
    margin-bottom: 20px;
    margin-top: 20px;
}
.legend-resultat{
    /*  margin: 27px;*/
    color: $black;
    font-weight: bold;
}
fieldset.aere.stats div.input.select label, div.input.checkbox label {
    min-width: 230px;
}

#page-content {
    .controls {
        height: 27px;
        padding: 1px;
    }

    table.pourcentage tr {
        &.titleindicateur {
            border: 1px solid $black;
        }

        &.odd {
            background-color: green;
        }

        &.even {
            background-color: blue;
        }
        &.resultscommune {
            font-weight: bold;
            font-size: 1.4em;
        }
    }
    table.pourcentage td {
        &.resultsadresse {
            padding-left: 1em;
        }
    }
}
#gauche, #droite{
    margin:auto;
    padding: 0px 10px;

    .panel-body{
        padding-bottom:35px;
    }

    .control-group{


        .statistiquesResultatNb{
            margin-top: 8px;
            color: #000;
            /*font-weight: bold;*/
            padding-bottom: 0px;
        }
    }

    .panel-footer{
        @extend #panel-footer-diy;
    }

}