/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2016, 15:24:55
    Author     : yjin
*/

.libriciel-background {
    height: calc(101vh - (2 * 51px));
    background-color: #E0EFFA;
    font-size: 14px;
    background-image:
        linear-gradient(-1.2217rad, rgba(255, 255, 255, 0.5) 10%, transparent 10%),
        linear-gradient(1.2217rad, transparent 85%, rgba(255, 255, 255, 0.5) 85%),
        linear-gradient(-0.6981rad, rgba(255, 255, 255, 0.5) 15%, transparent 15%),
        linear-gradient(1.2217rad, rgba(255, 255, 255, 0.5) 20%, transparent 20%),
        linear-gradient(-0.7853rad, rgba(66, 161, 227, 0.08) 30%, transparent 30%),
        linear-gradient(0.6981rad, rgba(217, 236, 250, 0.5) 40%, transparent 40%),
        linear-gradient(1.3962rad, transparent 65%, rgba(255, 255, 255, 0.31) 65%),
        linear-gradient(-1.0471rad, rgba(217, 236, 250, 0.5) 50%, transparent 50%),
        linear-gradient(1.0471rad, rgba(255, 255, 255, 0.5) 60%, transparent 60%),
        linear-gradient(-1.3962rad, rgba(255, 255, 255, 0.5) 70%, transparent 70%),
        linear-gradient(1.3089rad, rgba(142, 199, 241, 0.5) 80%, transparent 80%),
        linear-gradient(-1.3089rad, rgba(58, 139, 215, 0.55) 90%, transparent 90%),
        linear-gradient(-1.3962rad, rgba(255, 255, 255, 0.5) 65%, transparent 70%);
    display: flex;
    align-items: center;
    margin-top: 51px;
}
.login-block {
    border: 1px solid #080808;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    display: flex;
    padding: 0;
    max-width: 650px;
}

.collectivity-block {
    /*background-color: #173A94;*/
/*    background-color: #fab500;*/
    border-right: solid #080808 1px;
    padding: 30px;
    display: flex;
    align-items: center;
}

.collectivity-logo {
    max-height: 100%;
    max-width: 100px;
}

.form-block {
    width: 100%;
    padding: 30px 75px 60px 75px;
}

.main-logo {
    max-height: 100px;
    max-width: 100%;
}

.control-label.normal-left {
    text-align: left;
    font-weight: normal;
    padding-left: 0;
}

.color-inverse {
    background-color: #222;
    color: white;
}

.buffer-top {
    margin-top: 15px;
}

.double-buffer-top {
    margin-top: 30px;
}

.navbar-icons-buffer-top {
    padding-top: 12px;
}


#UserLoginForm,#UserMdplostForm{
    #form_group_password{
        margin-top: 15px;
    }
}

.unmask {
	font-size: 9px;
	text-transform: uppercase;
	position: absolute;
	cursor: pointer;
    text-indent: -20px;
    z-index:2;
    top: 10px;
}

/*
#loginLogo{
text-align: center;
}
.top-content {
.text {
    color: $white;
    h1 {
        color: $white;
    }
}

h3{
    background: none;
    margin-left: -10px;
}

.description {
    margin: 20px 0 10px 0;
    p {
        opacity: 0.8;
    }
    a {
        color: $white;
        &:hover, &:focus {
            border-bottom: 1px dotted $white;
        }
    }
}
}
.inner-bg {
padding: 50px 0 170px 0;
}
*/