/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23 mars 2016, 09:55:35
    Author     : yjin
*/
$border-radius:$border-radius-normal;
$padding:5px;
$border : 1px solid $border-gray;

#armodelList,#rmodelList  {
    margin-top: 20px;
    height: 322px;
    overflow: auto;
    list-style: none;

    li {
        border-bottom: $border;
        margin: 3px 0;
    }

    .voidlist_item {
        padding: $padding;
    }

    dl {
        padding: $padding;
        margin: 5px 35px;
        border: $border;
        border-radius: $border-radius;
        background-color: $white;

        dt, dd {
            border-radius: $border-radius;
        }
    }

    .ctxdoc_actions{
        border:#5393a7;
        i.fa{
            cursor: pointer;
            color:  $blue-webgfc;
            font-size:14px;
            margin-left:0px;

            &.fa-trash{
                color:$red;
            }
        }
    }
}
#rmodelListGabarit,#rmodelListNew {
    height: 130px;
    overflow: auto;
    list-style: none;

    li {
        border: $border;
        border-radius: $border-radius;
        margin: 3px 0;
    }

    .voidlist_item {
        padding: $padding;
    }

    dl {
        padding: $padding;
        margin: 5px 35px;
        border: $border;
        border-radius: $border-radius;
        background-color: $white;

        dt, dd {
            border-radius: $border-radius;
        }
    }
}
