/**
 * acl CSS file
 *
 * web-GFC : Gestion de Flux Citoyens (https://adullact.net/projects/webgfc)
 *
 * @author Stéphane Sampaio
 * @copyright Initié par ADULLACT - Développé par ADULLACT Projet
 * @link http://adullact.org/
 * @license https://choosealicense.com/licenses/agpl-3.0/ AGPL v3
*/

.ui-state-focus{
	background: none repeat scroll 0 0 #ffdd99 !important;
}

.ui-state-highlight{
	background: none repeat scroll 0 0 #ffdd55 !important;
}
