/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 15:47:56
    Author     : yjin
*/

#setTacheRow .panel-default {
    /*margin-left: 20px;*/

    .panel-heading {
        /*margin: 0px -15px;*/
        /*background: #f5fffc;*/

        .panel-title {
            overflow: hidden;

            .tacheNormal {
                color: #ff9c38;
                float: right;
                /*                margin-right: -13px;
                                margin-top: -17px;*/
            }

            .tacheLate {
                color: #ff4f4f;
                float: right;
                /*                margin-right: -13px;
                                margin-top: -17px;*/
            }

            .tacheFinish {
                color: #68ff68;
                float: right;
                /*                margin-right: -13px;
                                margin-top: -17px;*/
            }
        }
    }

    .panel-body{
        padding:0px;

        ul{
            padding: 0px;
            border:none;
            height:120px;
            overflow:auto;

            li{
                width: auto;
                font-size: 11px;
                border: none;
                padding: 5px;
            }
        }
    }

    .panel-footer {
        /*margin: 0px -15px;*/
        text-align: right;
        /*font-size: 16px;*/
        background: $panel-header-footer-gray;
    }
}
