	.sc-list{
		margin: 5px;
		/*padding: 5px;*/
		border: 1px solid #ddd;
		border-radius: 4px;
		box-shadow: 0 1px 1px rgba(0,0,0,0.10);

	}
	.panel.col-sm-6.commentPanel{
		margin: -5px;

	}
	.commentPanel .panel-heading{
		min-height:51px;
		color: #888;
	}

	.commentPanel #commentActionsBtn{
		/*float: right;*/
	}
	.sc-title{
		/*background: #f5fffc;*/
		border: 1px solid #ccc;
		border-radius: 3px;
		color: #5397a7;
		font-weight: bold;
		padding: 5px 15px;
	}

	.sc-comment, .sc-empty{
		background-color: rgba(255, 255, 255, 0.79);
		border: 1px solid #EEEEEE;
		border-radius: 5px;
		box-shadow: 2px 2px 2px #EEEEEE;
		margin: 5px;
		border-radius: 5px;
		overflow: auto;
		padding: 7px;
	}

	.sc-comment table{
		width: 100%;
		margin-top: 5px;
	}

	#ui-tabs-3 .sc-comment table td{
		vertical-align: top;
		text-align: left;
	}

	.sc-content{
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
		border-radius: 5px;
		padding: 15px 10px;
		width: 50%;
		overflow: auto;
	}

	.sc-infos dl{
		margin: 5px;
		padding: 0;
	}

	.sc-infos dt{
		font-weight: bold;
	}

	.sc-header{

	}

	.sc-header img, .sc-title img{
		height: 16px;
		width: 16px;
		vertical-align: middle;
	}

	.sc-header .sc-edit-btn, .sc-header .sc-delete-btn{
		float: right;
	}

	.sc-empty{

	}

	.sc-private{
		background-color: rgba(254, 185, 0, 0.13);
	}

	.sc-editable{

	}

	.sc-author ul{
		margin: 0;
		padding: 0;
	}

	.sc-author li{
		list-style-type: circle;
	}
	.commentPanel .panel-body{
		color: #000;
	}

	.sc-edit-btn i {
		/*font-size: 18px;*/
		cursor: pointer;
	}
	.sc-delete-btn i {
		/*font-size: 18px;*/
		cursor: pointer;

	}

	.trCyclebold {
		font-weight: bold;
	}

	.trCyclethinColored {
		font-style: italic;
		color: #b11526;
	}
