// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:
@import "color.scss";

$base-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text-size:13px;
$text-weight:300;
$line-height:30px;
$transition:all .3s;
$background-image-url:"../../../img/bg_grey.jpg";

body{
    font-family: $base-font-family;
    font-size: $text-size;
    font-weight: $text-weight;
    color: $text-color;
    line-height: $line-height;
    background-position: top left;
    /*background: url($background-image-url);*/
    background-color: rgb(247,247,247);
}
/*body{
    font-family: $base-font-family;
    font-size: $text-size;
    font-weight: $text-weight;
    color: $text-color;
    line-height: $line-height;
    background-position: top left;
    height: calc(101vh - (2 * 51px));
    background-color: #E0EFFA;
    background-image:
        linear-gradient(-1.2217rad, rgba(255,255,255,0.5) 10%, transparent 10%),
        linear-gradient(1.2217rad, transparent 85%, rgba(255,255,255,0.5) 85%),
        linear-gradient(-0.6981rad, rgba(255,255,255,0.5) 15%, transparent 15%),
        linear-gradient(1.2217rad, rgba(255,255,255,0.5) 20%, transparent 20%),
        linear-gradient(-0.7853rad, rgba(66,161,227,0.08) 30%, transparent 30%),
        linear-gradient(0.6981rad, rgba(217,236,250,0.5) 40%, transparent 40%),
        linear-gradient(1.3962rad, transparent 65%, rgba(255,255,255,0.31) 65%),
        linear-gradient(-1.0471rad, rgba(217,236,250,0.5) 50%, transparent 50%),
        linear-gradient(1.0471rad, rgba(255,255,255,0.5) 60%, transparent 60%),
        linear-gradient(-1.3962rad, rgba(255,255,255,0.5) 70%, transparent 70%),
        linear-gradient(1.3089rad, rgba(142,199,241,0.5) 80%, transparent 80%),
        linear-gradient(-1.3089rad, rgba(58,139,215,0.55) 90%, transparent 90%),
        linear-gradient(-1.3962rad, rgba(255,255,255,0.5) 65%, transparent 70%)
}*/

a {
    color: $blue-webgfc;
    text-decoration: none;
    -o-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;

    &:hover, &:focus {
        color: darken($blue-webgfc, 5%);
        text-decoration: none;
        -o-transition: $transition;
        -moz-transition: $transition;
        -webkit-transition: $transition;
        -ms-transition: $transition;
        transition: $transition;
    }
}
h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    line-height: 50px;
    background: 0;
    color: $blue-webgfc;
    font-weight: bolder;
}

h3 {
    margin-top: 20px;
    color:$blue-webgfc;

    &.popover-title{
        padding: 8px 14px;
        margin: 0;
        font-size: 14px;
        background-color: $border-gray-light;
        border-bottom: 1px solid $border-gray;
        border-radius: 5px 5px 0 0;
    }
}

img {
    max-width: 100%;
}
::-moz-selection, ::selection {
    background:#5f9ea0;
    color: $white;
    text-shadow: none;
}
li{
    list-style: none;
}
pre{
    color: $black;
    background: $border-gray-light;
    position: relative;
    left: 15%;
    padding: 35px 1em 15px;

    &.templatenotifications{
        left:0%;
        font-size:12px;
    }
}
//loader
.ajaxloaderDiv{
    color: $black;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background-color: $white;
    text-align: center;
    padding: 15px;
    opacity: 1;
    -moz-opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
}
.content_res{
    margin-left: 20px;
}

table{
    tr.inactive{
        font-style: italic;
        color:#a3a3a3;
        opacity: 0.7;
    }
    tr.surlignage{
        background-color: #d0e5f5
    }
}

.information_update{
    color:$blue-webgfc;
    text-align:right;

    &.contact-creation-infos{
        text-align: left;
    }
}

i.fa{
    cursor: pointer;
}

i.fa.itemApercu{
    cursor: pointer;
    color:  $blue-webgfc;
}

.pagination{
    padding-bottom:10px;

    li span{
        cursor: pointer;
    }
}

#webgfc_content{
    width: 98%;
    margin-top: 60px;
    padding-bottom:50px;
    .container{
        width: 100%;
        padding-bottom: 20px;
    }
    legend{
        font-size: 14px;
        width: 90%;
    }
}


