/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 11:20:47
    Author     : yjin
*/

#webgfc_error_container{
    @extend .table-list;
    background:$white;

    h2{
        @extend h3;
    }
    .error, .notice ,.infomsg{
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        width: 93%;
        margin: 10px auto;
    }
    pre{
        margin-left:-80px;
        width: 80%;
    }
    .bttnbox {
        @extend #panel-footer-diy;
    }
}