/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 14:09:20
    Author     : yjin
*/
.footer{
    height: 30px;
    clear:both;
    padding-top:4px;
    background-color: $black;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    color:$text-color;
    text-align: center;
}
