/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2016, 15:09:11
    Author     : yjin
*/
.modal-content {
    min-height: 150px;

    legend{
        margin-left: 20px;
        font-size: 14px;
        /*color:$blue-webgfc;*/
        color:grey;
    }

    .panel-heading,.modal-header{
        cursor: pointer;
    }

    .modal-body{
        .form-group {
            input {
                &[type="text"], &[type="date"], &[type="password"], &[type="number"], &[type="email"],&[type="tel"],&[type="login"]{
                    background-color: $input-bg;
                    border: 1px solid $input-boder;
                    height: 40px;
                    border-radius: 4px;
                }

                &[type="checkbox"] {
                    background-color: $white;
                    border: 4px;
                    box-shadow: none;
                    height: 15px;
                    /*margin-top: 10px;*/
                    margin-top: 15px;
                    border-radius: 4px;
                }

                &[type="text"] ,&[type="date"],&[type="password"],&[type="checkbox"], &[type="number"], &[type="email"],&[type="tel"],&[type="login"]{
                    &:hover, &:focus {
                        border-color: $input-boder-hover;
                    }
                }
            }

            select.form-control {
                background-color: $input-bg;
                border: 1px solid $input-boder;
                height: 40px;
            }
        }

        .form-horizontal{
            .form-group {
                margin-top: 0px;
                margin-bottom: 0px;
                padding: 0px;
                height: auto;

                .controls {
                    padding-bottom: 10px;
                }
            }
        }
    }
    #traitementlot_page{
        .list-flux.col-sm-4{
            padding-left: 0px;
            padding-right: 0px;;
        }
        .prevoir-document{
            padding-left: 0px;
            padding-right: 0px;

            .content{
                max-height: 450px; 
                overflow-y:auto;
                #viewer>div{
                    margin-left: 0px;
                }
            }
            .controls{
                margin-top: 10px;
            }
        }
    }
}
