/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 mars 2016, 14:13:29
    Author     : yjin
*/
$border-radius-normal:4px;

#notice-warning{
    background-color: $warning-yellow-bg;
    border-style: solid;
    border-color: $warning-boder-pink;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 $border-radius-normal $border-radius-normal;
    box-shadow: 0 2px 5px $border-gray;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
    top: -11px;
}
#infos.modal{
    background: none;

    .ajouterBtnSousEdit{
        float:right;
    }
    
    #addPlisValue{
        float:right;
        margin-top:26px;
        margin-right:20px;
    }
    
    #addOsValue{
        float:right;
        margin-top:26px;
        margin-right:20px;
    }
    
    #exportPlis{
        float:right;
        margin-top:26px;
    }
    
    #exportOS{
        float:right;
        margin-top:26px;
    }
    
    .bannette_panel{
        .bootstrap-table{
            .fixed-table-toolbar{
                .form-control{
                    height:30px;
                }
            }
        }
    }
    
     
    #addSousoperationsValue{
        float:right;
        margin-top:26px;
        margin-right:20px;
    }

}
.fixed-table-container thead th{
    .asc, desc{
        background-image: none;
    }
}

.ui-widget-header {
    border: 1px solid $white;
    background: $white;

}

//edit_user tabs of right
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {

    border: 1px solid $border-gray;
    background: $white;

}
.ui-tabs-active,.ui-state-active{

    border: 1px solid $border-gray;
    background: $input-bg;

}
.ui-state-active a, .ui-state-active a:link, 
.ui-state-active a:visited{
    color: $blue-webgfc;
    font-weight: bold;

    &:link {
        color: $blue-webgfc;
        font-weight: bold;
    }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
/*.ui-state-focus, */.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus{
    border: 1px solid $border-gray;
    background: $input-bg;
    color: $white;
    font-weight: bold;
}

.ui-state-default a {
    color: $blue-webgfc;
    /*font-weight: bold;*/

    &:link {
        color: $blue-webgfc;
        /*font-weight: bold;*/
    }
}

.ui-state-hover a {
    color: $blue-webgfc;
    font-weight: bold;

    &:hover, &:link, &:visited {
        color: $blue-webgfc;
        font-weight: bold;
    }
}

.ui-state-focus a {
    color: $blue-webgfc;
    font-weight: bold;

    &:hover, &:link, &:visited {
        color: $blue-webgfc;
        font-weight: bold;
    }
}

