/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21 mars 2016, 15:53:12
    Author     : yjin
*/

$bg-opacity:rgba(0, 0, 0, 0.8);

#webgfc_menu.navbar{
    font-size:14px;

    a.navbar-brand {
        /*    color: $blue-webgfc;
            font-weight: bold;*/
        background : url('/img/WebGFC_white_h28px.png');
        background-repeat: no-repeat;
        background-position: center;
        width:50px;
        margin-left:50px;
        &:hover {
            background : url('/img/WebGFC_white_h28px.png');
            background-repeat: no-repeat;
            background-position: center;
            /*color: $white;*/
        }
    }
    a.logo-gfc {
        //background : url('/img/gfc_logo_transparent.png');
        background : url('/img/gfc_logo_transparent.png');
        background-repeat: no-repeat;
        background-position: center;
        //background-size: 160px;
        background-size: 120px;
        width:300px;
        padding-top: 15px;
        padding-bottom: 35px;
        margin-left: -10px;
        margin-right: -40px;
    }

    li.divider {
        /*background: $blue-webgfc;*/
        background: grey;
    }

    ul {
        &.dropdown-menu {
            /*border: 0;*/
            /*border-radius: $border-radius-normal;*/
            /*box-shadow: 0 0 $border-radius-normal 0 $border-gray;*/
            margin-top: 2px;
            /*background: $bg-opacity;*/
            background: #090909;
            /*border-color: $very-dark-gray;*/
            overflow: auto;
            max-height: 600px;
            border-top: grey;

        }

        &.navbar-left ul.dropdown-menu > li{
            &:not(.divider) {
                padding-top: 5px;
            }
        }

        &.navbar-left ul.dropdown-menu > li > a {
            /*color: #cecece;*/
            /*font-size: 14px;*/

            min-height: 40px;
            border: 0px;
            font-size: 14px;
            color: #dfe0ed;
            padding-top: 10px;

            &.titre-list {
                text-align: center;
                color: $blue-webgfc;

                &:hover {
                    background: $bg-opacity;
                    color: $blue-webgfc;
                }
            }
            &:hover{
                color:  $white;
            }
        }

        &.dropdown-menu > li > a:hover {
            background: $blue-webgfc;
            color: $white;
        }
    }

    span .badge {
        background: $red;
        font-weight: normal;
        font-size: 11px;
        margin-left: -16px;

        &.new {
            background: rgba(255, 0, 0, 0.8);
            color: $white;
        }
    }
}


#user_connected, #nbNotifications, #nbTaches, #absences {
    margin-left: 10px;
    margin-right: 10px;
}

#user_connected {
    max-width: 260px;
    overflow: hidden;
    white-space: nowrap;

    i {
        margin-left: -25px;
        cursor:pointer
    }
}

#nbNotifications i, #nbTaches i, #absences i {
    margin-left: -25px;
    cursor:pointer
}


#menuRightItem {
    //margin-right: -283px;
    margin-top: 2px;
    background: $very-dark-gray;
    background: $bg-opacity;
    /*border-color: $very-dark-gray;*/
    border-color: grey;
    font-size: 14px;
    max-width: 340px;

    &:hover {
        background: $bg-opacity;
    }

    i {
        padding-right: 20px;
    }

    a {
        min-height: 40px;
        border: 0px;
        font-size: 14px;
        color: #dfe0ed;
        padding-top: 10px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey;
    -webkit-box-shadow: inset 0 0 6px grey;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: grey;
}
/*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(26,41,55,0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(26,41,55,0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(26,41,55,0.2);
}*/

#divNotif {
    position: absolute;
    right: 0px;
    width: 220px;
    top: 30px;
    z-index: 100;

    background: #222;
    border:none;
    display: none;

    .content_notification{
        background: #fff;
        border-radius: $border-radius-normal;
        /*overflow: scroll;*/
        overflow: auto;
        min-height: 50px;
        max-height: 300px;
        text-align: left;

        -moz-box-shadow: 1px 2px 5px 0px #343434;
        -webkit-box-shadow: 1px 2px 5px 0px #343434;
        -o-box-shadow: 1px 2px 5px 0px #343434;
        box-shadow: 1px 2px 5px 0px #343434;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=153, Strength=5);
    }

    .arrow {
        width: 0;
        height: 0;
        border:solid 10px;
        border-color:rgba(0,0,0,0) rgba(0,0,0,0) #fff;
        position: relative;
        top: 0px;
        left: 180px;
    }


    #notifMarkAllReadBttn {
        /*width: 10%;*/
        /*        margin-top: 5px;
        margin-top: 5px;
                margin-left: 150px;*/
        padding: 2px 25px;
        /*float:right;*/
        /*margin-bottom:5px;*/
        margin: auto auto auto 135px;

        /*        &:hover{
                    border: solid 1px #9bc16b;
                    color: #9bc16b;
                    background: #fff;
                }*/
        i{
            margin-left: 0px;
        }
    }
    .notification_div{
        border-radius:  0 0 4px 4px;
        border-top: solid 1px #999999;
        padding:10px;

        .panel-title{
            color: $blue-webgfc;
            text-decoration:underline;
            padding-bottom: 5px;
            font-size: 12px;
        }
    }

    p{
        text-align: justify;
        font-size: 11px;
        margin-bottom: 0px;

    }
    .notif_actions {
        text-align: right;
        img{
            width: 14px;
        }
    }
    /*
    .panel-body{
        text-align: justify;
        margin: 0px auto 0px auto;
        padding: 0px auto 0px auto;

    }

    .panel-footer {
        text-align: right;
        border: none;
        background: #fff;
        margin: 0px;
        padding: 0px;

        img {
            height: 20px;
        }
    }

    .notification {
        cursor: pointer;
        margin: 2px;
        padding: 3px;
    }

    .sender {
        color: $black;
        font-style: italic;
        font-weight: 400;
    }
    */
}

#divAbsence {
    position: absolute;
    right: 0px;
    width: 220px;
    top: 30px;
    z-index: 100;

    background: #222;
    border:none;
    display: none;

    h3 {
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
        border: none;
        font-size: 12px;
        color: $blue-webgfc;
        padding: 10px;
    }
    /*
    .tableDelegatedDesktops, .tableDelegatedToDesktops {
        background: $input-bg;
        text-align: left;
        font-size: 10px;
        color: $black;
    }

    .tableDelegatedDesktops th, .tableDelegatedToDesktops th, .tableDelegatedDesktops td, .tableDelegatedToDesktops td {
        border-bottom: 1.5px solid $white;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        text-align: left;
    }

    .tableDelegatedDesktops {
        margin-bottom: 10px;
    }
    */

    .content_notification{
        background: #fff;
        border-radius: $border-radius-normal;
        /*overflow: scroll;*/
        overflow: auto;
        min-height: 50px;
        max-height: 300px;
        text-align: left;

        -moz-box-shadow: 0px 2px 5px 0px #343434;
        -webkit-box-shadow: 0px 2px 5px 0px #343434;
        -o-box-shadow: 0px 2px 5px 0px #343434;
        box-shadow: 0px 2px 5px 0px #343434;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=153, Strength=5);

        .panel-title{
            margin-bottom: 0px;
            margin-top: 0px;
            text-align: left;
            border: none;
            font-size: 14px;
            color: $blue-webgfc;
            padding: 10px;
        }
    }

    .arrow {
        width: 0;
        height: 0;
        border:solid 10px;
        border-color:rgba(0,0,0,0) rgba(0,0,0,0) #fff;
        position: relative;
        top: 0px;
        left: 180px;
    }

    .notification_div{
        border-radius:  0 0 4px 4px;
        border-bottom: solid 1px #999999;
        padding:10px;
        color:$text-color;
        text-align:left;
        font-size:11px;

        legend{
            /*margin-top: 5px;*/
            /*color: $blue-webgfc;*/
            color: grey;
            font-size: 14px;
            text-align: left;
            margin-bottom: 0px;
        }

    }

    p{
        text-align: justify;
        font-size: 11px;
        margin-bottom: 0px;

    }
    .notif_actions {
        text-align: center;
        img{
            width: 16px;
        }
        .btn-info {
            margin: 5px;
            color: $white;
            background-color: $btn-info-bg-normal;
            border-color: $btn-info-border-normal;
            padding: 2px 15px;

            &:hover, &:visited, &:active, &:focus {
                color: $white;
                background-color: $btn-info-hover-bg-active;
                border-color: $btn-info-hover-border;
            }
        }
    }
}

#divTache {
    position: absolute;
    right: 0px;
    width: 220px;
    top: 30px;
    z-index: 100;

    background: #222;
    border:none;
    display: none;
    /*
    .panel-heading {
        color: $blue-webgfc;
    }

    .panel {
        margin-bottom: 0px;
    }

    .panel-footer {
        text-align: right;

        img {
            height: 20px;
        }
    }

    */
    h3 {
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
        border: none;
        font-size: 14px;
        color: $blue-webgfc;
        padding: 10px;
    }/*

    .tache {
        cursor: pointer;
        margin: 2px;
        padding: 3px;
    }
    */
    .content_notification{
        background: #fff;
        border-radius: $border-radius-normal;
        overflow: auto;
        min-height: 50px;
        max-height: 300px;
        text-align: left;

        -moz-box-shadow: 1px 2px 5px 0px #343434;
        -webkit-box-shadow: 1px 2px 5px 0px #343434;
        -o-box-shadow: 1px 2px 5px 0px #343434;
        box-shadow: 1px 2px 5px 0px #343434;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=153, Strength=5);
    }

    .arrow {
        width: 0;
        height: 0;
        border:solid 10px;
        border-color:rgba(0,0,0,0) rgba(0,0,0,0) #fff;
        position: relative;
        top: 0px;
        left: 180px;
    }

    .notification_div{
        border-radius:  0 0 4px 4px;
        border-top: solid 1px #999999;
        padding:10px;

        .panel-title{
            color: $blue-webgfc;
            text-decoration:underline;
            padding-bottom: 5px;
            font-size: 12px;
        }
    }

    p{
        text-align: justify;
        font-size: 11px;
        margin-bottom: 0px;

    }
    .notif_actions {
        text-align: right;
        img{
            width: 14px;
        }
    }
}

.notification_title {
    text-decoration: underline;
    /*color: $white;*/
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    /*    background: #000;
        padding: 2px 5px;
        border-radius: 20px;*/
}

.notification .notif_actions {
    text-align: right;
}

.tache {
    .ui-widget-content {
        overflow: auto;
    }

    .tache_actions {
        text-align: right;
    }

    .etats {
        width: 10px;
        float: right;
        text-align: right;
        margin-right: 15px;

        img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
    }
}

.notification_wrapper {
    position: relative;
}
/*
.icon_notif {
    background-color: #ff4c4c;
    font-weight: bolder;
    font-family: monospace;
    color: $white;
    text-align: center;
    min-width: 10px;
    position: absolute;
    top: -10px;
    right: 2px;
    padding: 0px 2px;
    border-radius: 15%;

}
*/
#nbNotifications, #absences, #nbNotifications, #absences img, .actionSmall img {
    height: 16px;
    width: 16px;
}

.userinfoTable {
    padding: 0;
    margin: 0;
    width: 223px;
    background: 0;

    td {
        width: 25px;
        white-space: nowrap;
        line-height: .7em;
    }

    tr td {
        text-align: left;
    }
}

#nbNotifications {
    width: 16px;
    border-right: 0;
    float:left;

    #viewNotifications{
        margin-top: -17px;
    }
}

#nbTaches {
    width: 16px;
    border-right: 0;
    border-left: none;
    float:left;


    #viewTaches{
        margin-top: -17px;
    }
}

#absences {
    width: 16px;
    border-left: none;
    float:left;

    #viewDeleg{
        margin-top: -17px;
    }
}
