/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2016, 15:09:53
    Author     : yjin
*/
.pagination > li > .current {
    z-index: auto;
    color: $white;
    background-color: $btn-info-bg-normal;
    border-color: $btn-info-border-normal;
    cursor: default;

    &:hover {
        color: #2a6496;
        background-color: $border-gray-light;
        border-color: $border-gray;
    }
}
.table-list, #recherche_skel_infos{
    ul.pagination {
        background: none;
        margin-top: 20px;

        a{
            color:$very-dark-gray;
        }
    }
}