/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21 mars 2016, 16:49:35
    Author     : yjin
*/
@import "_color.scss";

.table-list {
    background: $white;
    -moz-border-radius: $border-radius-normal;
    -webkit-border-radius: $border-radius-normal;
    border-radius: $border-radius-normal;
    /*box-shadow: 0 0 8px 0 $border-gray;*/
    margin-bottom: 25px;
    min-width: 250px;
    min-height: 200px;
    padding: 0px;
    width: 100%;
  	margin-top: 5px;

    /*    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
            0 3px 6px rgba(0,0,0,0.23);*/
    /*padding-bottom:15px;*/
    /*padding-bottom: 10px;*/

    &.statistiques, &.rechercheCondition, &.liste-collectivites, &.infos-collectivites{
        padding-bottom:0px;
    }


    &.superadmin-table-list{
        height: 350px;
    }

    &.organisme-edit{
        padding-bottom:0px;
        /*margin-top: 20px;*/
    }

    .panel {
        margin: 15px;
        .panel-heading {
            .action-title{
                float: right;

                .btn:not(.btn-secondary)+.btn:not(.btn-secondary){
                    margin-left: 5px;
                    margin-bottom: 0px;
                }
            }
            /*padding-bottom: 0px;*/
        }
    }
    h3 {
        background: $blue-webgfc;
        color: $white;
        /*font-weight: bold;*/
        margin: 0px;
        border-radius: $border-radius-normal $border-radius-normal 0 12px;
        text-align: left;
        font-size: 20px;
        padding: 12px;
        padding-left: 20px;

        span.action-title{
            float: right;
            margin-top: -5px;

            .btn+.btn{
                margin-left: 5px;
                margin-bottom: 0px;
            }
        }

        &.popover-title{
            padding: 8px 14px;
            margin: 0;
            font-size: 14px;
            background-color: #f7f7f7;
            border-bottom: 1px solid #ebebeb;
            border-radius: 5px 5px 0 0;
            color:#666;
        }
    }
    > ul {

        background: $blue-webgfc;
        /*font-weight: bold;*/
        margin: 0px;
        border-radius: $border-radius-normal $border-radius-normal 0 12px;
        text-align: left;
        font-size: 16px;
        padding-left: 12px;

        span.action-title{
            float: right;
            margin-top: 5px;

            .btn+.btn{
                margin-left: 5px;
                margin-bottom: 0px;
            }
        }


        &.dropdown-menu {
            background: $white;

            a {
                color: $text-color;
            }
        }

        li{
            /*border-left: 1px solid $input-boder;*/
            a {
                color: $white;
                padding-left: 10px;
                padding-right: 10px;
                border-right: 1px dotted #5393a7;

                &:hover {
                    color: $very-dark-gray;
                }
            }
        }
    }

    .tab-content {

        /*margin-bottom: 30px;*/
        /*padding-bottom: 30px;*/
        .tab-pane {
            /*padding-bottom: 30px;*/
        }

        .bannetteVoid {
            color: $blue-webgfc;
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
        }

        .serviceReplierBtn{
            margin-top: 10px;
            float: left;
        }

        .ctxdoc_actions{
            border:#5393a7;
            i.fa{
                cursor: pointer;
                color:  $blue-webgfc;
                font-size:14px;
                margin-left:0px;

                &.fa-trash{
                    color:$red;
                }
            }
        }


    }

    #logo_organisme {
        text-align: center;
        margin-top: 20px;
    }

    .logo {
        margin: 5px auto;
        max-height: 110px;
        width: 100%;
        box-shadow: 0px 2px 4px $border-gray;
        border-radius: $border-radius-normal;
    }

    table {
        color: $black;
        font-size: 14px;
        text-align: left;
        padding-bottom: 20px;
        line-height: 1.2em;

        td.action img{
            width: 20px;
            height: 20px;
        }
    }

    .table {
        tbody tr:hover {
            background: $panel-header-footer-gray;
        }

        a {
            color: $black;

            i{
                color:$blue-webgfc;
            }

            &:hover, &:active {
                color: $blue-webgfc;
            }
        }

        input#listFichierScane{
            position: relative;
        }
    }

    .navbar-right {
        margin-right: 0px;
        box-shadow: none;

        a {
            background-color: #1b926c;
        }
    }

    h4.title_Affaire {
        background: $blue-webgfc;
        color: $white;
        margin: 0px;
        border-radius: $border-radius-normal $border-radius-normal 0 12px;
        text-align: left;
        font-size: 13px;
        font-weight: normal;
        padding: 12px 12px 12px 27px;


        &:hover {
            background: $panel-header-footer-gray;
            color: black;
        }
    }


    h4.ui-state-active {
        background: $panel-header-footer-gray;
        color: black;
        margin: 0px;
        border-radius: $border-radius-normal $border-radius-normal 0 12px;
        text-align: left;
        font-size: 13px;
        font-weight: normal;
        padding: 12px 12px 12px 27px;
    }

    #affaireAccordion span.ui-icon-triangle-1-s{
        background-image: url("../../css/jquery/webgfc/images/ui-icons_3d80b3_256x240.png");
    }

    #affaireAccordion span.ui-icon-triangle-1-e{
        background-image: url("../../css/jquery/webgfc/images/ui-icons_ffffff_256x240.png");
    }

    .treeview .hitarea {
        margin-top: 8px;
    }

    .filetree span.folder, .filetree span.file{
        background-image: url("/img/repertoire_22.png") !important;
        background-position: 4px 6px !important;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        color: black;
    }

    a:not(.btn),a:not(a[role="tab"]){
        i.fa{
            cursor: pointer;
            //color:  $blue-webgfc;


            &.fa-trash{
                //color:$red;
            }
        }

    }

    .tab-content{
        .table{
            i.fa{
                cursor: pointer;
                color:  $blue-webgfc;


                &.fa-trash,&.fa-unlock-alt{
                    color:$red;
                }
            }
        }
    }

    ul:not(.nav-tabs){
        i.fa{
            cursor: pointer;
            color:  $blue-webgfc;
            font-size:16px;
            margin-left:5px;

            &.fa-trash{
                color:$red;
            }
        }

    }

}

#controls,#bannetteControls,#flowControlsByLot{
    a{
        i.fa{
            padding: 3px 6px;
            +i.fa{
                padding: 3px 6px 3px 0px;
                margin-left: -3px;
            }
        }
    }
}
