/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 17:48:32
    Author     : yjin
*/

.bannette-content{
    padding-bottom: 30px;

    table{
        tr{
            cursor:pointer;
        }
    }
}

.infoParentDiv {
    background: $white;
    z-index: 9999;
    -moz-border-radius: $border-radius-normal;
    -webkit-border-radius: $border-radius-normal;
    border-radius: $border-radius-normal;

    table {
        caption {
            background: #eef9fe;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            color: $blue-webgfc;
            text-align: left;
        }

        th, td {
            border: 1px solid$border-gray;
            font-size: 12px;
            padding: 5px;
        }
    }
}

.fixed-table-container thead th {
    .asc, .desc {
        background-image: none;
    }
}

#bannetteControls.controls, #controls.controls {

    @extend #panel-footer-diy;
    margin-top: -40px;
/*    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
        0 3px 6px rgba(0,0,0,0.23);*/
    /*margin-bottom: 50px;*/
}

#dispenv_tabs #controls.controls{
    @extend #panel-footer-diy;
    margin-top: -45px;

}

tr.unread{
    font-weight: bold;
}

#searchControls{
    float: right;
    margin-top: -35px;
    margin-right: 10px;
}


td.thState img{
    width: 13px;
}