/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 17:34:56
    Author     : yjin
*/

.table_fchier_scane p {
    /*margin-top: 150px;*/
    margin-right: auto;
    font-size: 14px;
    text-align: center;
    /*color: $border-gray;*/
    font-weight: bolder;
}
#listeFichierScanner{
    .panel-heading, .definissezFlux .panel-heading {
        background-color: $blue-webgfc;
        color: $white;
    }

    .checkbox {
        margin: auto;
    }

    table.fchier_scane{
        
        td.show-file{
            color:$blue-webgfc;
        }

        td.delete-file{
            color:#FF000C;
        }
    }
}

#listFichierScaneForm, .table_fchier_scane {
    /*height: 375px;*/
    width: 100%;
    overflow: auto;
    /*color:$red;*/
}

#listFichierScaneForm .empty_fchier_scane {
    height: 402px;
}

.viewFileScan {
    @extend #notice-warning;
}

.table_fchier_scane th.filescan {
    width: 10px;
}

.errorFileScan {
    background-color: lightcoral;
    border-style: solid;
    border-color: $warning-boder-pink;
    border-width: 1px;
    border-radius: 0 0 $border-radius-normal $border-radius-normal;
    box-shadow: 0 2px 5px $border-gray;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: 5px;
    position: relative;
    color: #000;
    /*top: 163px;*/
}