/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 11:51:28
    Author     : yjin
*/

.swithc-save{
    height: 25px;
    margin: 15px 5px;
}
.ui-autocomplete-category{
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.controls.group-btn{
    @extend #panel-footer-diy;
}
//panel
.panel.formSearch {
    .panel-title {
        text-align: left;
        /*margin-left: 120px;*/
        font-weight: bold;
    }

    .panel-heading {
        background-color: #e6f6fe;
    }

    .panel-body {
        background-color: #eef9fe;
        font-weight: initial;
        height: auto;
    }
}

.itemSelectList{
    li{
        border-bottom: 1px solid #efefef;
        border-radius: 5px;
        padding-left:10px;
        
        &:hover{
            background-color: #f4f4f4;
        }

        i{
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}