/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21 mars 2016, 17:16:54
    Author     : yjin
*/


#liste_services, #liste_users, #liste_groups {
    .controls{
        text-align: right;
        padding-right: 40px;
    }

    .form-group {
        .controls{
            text-align: left;
        }
    }

    #get_users_contents{
        span.bouton-search.action-title.btn-group.pull-right{
            margin-left: 10px;
            margin-top: 10px;
        }
    }
}

/*     liste      */
#liste{

    box-shadow: 0 5px 10px $border-gray;
    border: 1px solid $border-gray;
    background: $white;
    border-radius: $border-radius-normal;
    margin-bottom:30px;

    .table-list{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .zone-form{
        .controls.btn-group{
            text-align: center;
            width: 100%;
        }
    }

    h3{
        .btn-title-add{
            float:right;
        }
    }

    .content table td {
        padding-left: 2px;
        padding-right: 2px;
        width: auto;

        &.action {
            width: 25px;
        }
    }

    /*    #searchControls{
            position: relative;
            top: -35px;
            left: 92%;
        }*/

    .controls.panel-footer {
        @extend #panel-footer-diy;
        &.btn-group{
            width: 100%;
        }
    }
    #addressbook_liste_content{
        height:690px;

        #zone_addressbook{
            padding: 20px 10px;
            height: 300px;

            #zone_carnet{
                padding: 0px;

                .panel{
                    margin: 0;
                    border-radius: 4px 0px 0px 4px;
                    border-right: 0px;

                    .panel-heading{
                        border-radius: 4px 0px 0px 4px;
                        padding-right: 5px;

                        span{
                            float: right;
                            font-size: 10px;
                        }
                    }

                    .panel-body{
                        overflow: hidden;
                    }
                }
            }

            #zone_organisme{
                padding: 0px;

                .panel{
                    margin: 0px;
                    border-radius: 0px;
                    border-right: 0px;

                    .panel-heading{
                        border-radius: 0px;
                        padding-right: 5px;

                        span{
                            float: right;
                            font-size: 10px;
                        }
                    }

                    .panel-body{
                        height: 580px;
                        overflow: hidden;
                    }
                }
            }

            #zone_contact{
                padding: 0px;

                .panel{
                    margin: 0px;
                    border-radius: 0 4px 4px 0px;

                    .panel-heading{
                        border-radius:  0px 4px 4px 0px;
                        padding-right: 5px;

                        span{
                            float: right;
                            font-size: 10px;
                        }
                    }

                    .panel-body{
                        height: 580px;
                        overflow: hidden;
                    }

                }
            }
        }
    }

    #searchModal{
        .modal-content{
            .row{
                margin: 0px;

                .panel{
                    margin: 0px;
                }
            }
        }
    }

    #browser{
        i.fa{
            cursor: pointer;
            color:  $blue-webgfc;
            margin-left:5px;
            font-size:16px;

            &.fa-trash{
                color:$red;
            }
        }
    }
    .table{
        i.fa{
            cursor: pointer;
            color:  $blue-webgfc;

            &.fa-trash{
                color:$red;
            }
        }
    }
}
/*     fin liste      */
/*     infos      */
#infos {
    background: $white;
    margin-bottom: 50px;

    .content {
        overflow: auto;
    }
    .content form {
        margin-top: 10px;
        width: 90%;

        &#CollectiviteAddForm, &#CollectiviteEditForm{
            width: 100%;
        }

        label[for='SoustypeSoustype'] {
            height: 23px;
            line-height: 23px;
        }
    }

    #logo {
        margin-left: auto;
        margin-right: auto;

        img {
            width: 200px;
            height: 64px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    #uploadLogo span.ui-button {
        margin-top: 15px;
    }


    .controls.panel-footer {
        @extend #panel-footer-diy;
        &.btn-group{
            width: 100%;
        }
    }

    #view_contact{
        td.title{
            padding-right: 20px;
        }
        td.content{
            font-weight: bold;
            color: #000;
        }
    }

    table.liste-circuit-associe-bureau{
        td.actions{
            text-align:center;
            color:red;
        }
    }

    .add-edit-btn{
        float:right;
        margin-top:35px;
        margin-right:20px
    }

    .export-edit-btn{
        float:right;
        margin-top:35px;
    }

    a:not(.btn):not(.nab-tabs-btn){
        i.fa{
            cursor: pointer;
            color:  $blue-webgfc;

            &.fa-trash{
                color:$red;
            }
        }

    }
    .table{
        i.fa{
            cursor: default;
            color: $blue-webgfc;
            &.fa-trash{
                color:$red;
            }
        }
    }

}

#modalEditUserBody{
    .tab-content{
        padding-top: 10px;
    }
}

.zone-form{
    width:90%;
    margin-left:auto;
    margin-right:auto;

    .controls.btn-group{
        text-align: right;
        width: 100%;
    }
}

#tabs-4 #panel{
    margin:0px;
    padding: 0px;
}
/* fin infos */
/* modifier organisme */
fieldset#tabs{
    width: auto;
}
#rightsTabs{
    th{
        border: 1px solid $border-gray;
    }
}


.thesaurusKeywords{
    height: 250px;
    overflow: auto;

    li {
        list-style-image: url('/img/keywords.png');
        list-style-position: outside;
        padding: 3px;
    }
}

.flushRightsTab, .notEditableGroup{
    @extend #notice-warning;
}


.fieldset_fichier{
    legend {
        margin-top: 5px;
        /*color: $blue-webgfc;*/
        color: grey;
        font-size: 14px;
    }

    .btn-info{
        font-size: 12px;
    }
}
.fieldset_analyse legend, .fieldset_carnet legend{
    margin-top: 5px;
    /*color: $blue-webgfc;*/
    color: grey;
    font-size: 14px;
    margin-left: 20px;
    width: 90%
}
.formatNomScanemail{
    float: right;
    font-size: 12px;
}


.formatNomSoustype{
    font-size: 12px;
}

.radioLabel{
    margin-left: 42%;
    label{
        margin-left: 5px;
    }
}

.noticeBan{
    margin: 2px;
    background-color: $warning-yellow-bg;
}
.addEmail img{
    vertical-align: middle;
    width: 16px;
    height: 16px;
}


#infos .content #SoustypeEditForm{
    width:100%;
}


#desktopsList{
    .desktopCtrls img, .desktopElement img{
        width: 16px;
    }
}

.ui-widget-content{
    background: #fff !important;
    z-index: 9999 !important;
}

.delegateToUserList{
    width:auto;

    span{
        float: right;
    }

    img{
        float: right;
    }
}


.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
    background: #fff !important;
    z-index: 9999 !important;
    li{
        margin:5px 0 5px 10px;
        padding:0px;
        &:hover,&:active,&:focus,&:visited{
            margin:5px 0 5px 10px;
            padding:0px;
        }
        a{
            margin:0 0 0 15px;
            padding:0px;
            color:#000;
            border:0px;
            &:hover,&:active,&:focus,&:visited{
                background: #e5e5e5;
                border: 0px;
                color: #000;
            }
        }
    }
}
#buttonDeleteLogo{
    width: 100px;
}

.ctxdoc_actions{
    color:red;
    i.fa{
        cursor: pointer;
        color:  $blue-webgfc;
        font-size:14px;
        margin-left:0px;

        &.fa-trash{
            color:$red;
        }
    }
}

.formatScanServiceName{
    float: right;
    font-size: 12px;
}

.unmaskscanemail {
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	cursor: pointer;
    text-indent: 354px;
    z-index:2;
    top: 12px;
}
