/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 09:51:15
    Author     : yjin
*/
.group-btn-admin {
    margin: 30px auto auto 20px;
    text-align: left;

    a.btn {
        margin-bottom: 10px;
        margin-left: 3%;
        width: 90%;
        /*min-width: 615px;*/
        box-shadow: 0 0 6px 0 $box-shadow-blue;
        border-color: $blue-webgfc;;
        border-radius: 15px;
        background: $white;
        color: $black;
        text-align: left;
        padding-left: 20px;

        &:hover {
            background: $blue-webgfc;;
            color: $white;
        }
    }
}
